.header_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(78, 78, 78);
    padding: 10px 30px;
    z-index: 99;
}
.header {
    background-color: rgb(0, 0, 0);
    background-image: url(../../assets/Inkedheader_bg_LI.jpg);
    background-position: bottom;
    background-position-y: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.header_body {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}
.logo {
    height: 60px;
}
.header__links {
    display: flex;
    column-gap: 20px;
    
}
.header__links a {
    text-decoration: none;
    color: rgb(219, 219, 219);
}
.header__bg {
    position: fixed;
    top: 25%;
    z-index: 0;
    width: 100%;
}
.header__text {
    width: 70%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header__text .text__top {
    align-self: start;
    font-size: 40px;
    font-weight: 700;
}
.header__text .text__bot {
    align-self: flex-end;
    font-size: 32px;
    font-weight: 500;
}
@media only screen and (max-width: 460px) {
    .header__text .text__top {
        align-self: start;
        font-size: 24px;
        font-weight: 700;
    }
    .header__text .text__bot {
        align-self: flex-end;
        font-size: 20px;
    }
    .header__links {
        display: flex;
        column-gap: 10px;
        font-size: 12px;
    }
    .header_container {
        padding: 10px 10px;
        z-index: 99;
    }
    .header__links {
        display: flex;
        column-gap: 8px;
    }
}